*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "Times New Roman", Georgia, serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: url('../images/first_bg.jpg') 0 0 repeat-y;
}

/* header */
.first_header{
    width: 100%;
}

.head_content{
    width: 1200px;
    margin: 50px auto 0 auto;
    text-align: center;
    border-bottom: 1px solid #c7cda5;
}
.head_content h1{
    font-size: 1.8em;
    font-weight: normal;
    color: #000;
}
.head_content h2{
    font-size: 1em;
    font-weight: normal;
    margin: 20px 0 20px 220px;
    color: #ebb15e;
}
/* messages */
.messages{
    width: 100%;
}
.messages_content{
    width: 1200px;
    margin: 20px auto;
}
.messages_form{
    width: 80%;
    margin: 0 auto;
}
.messages_form .input_div{
    display: inline-block;
    width: 80%;
}
.messages_form p{
    margin: 10px auto;
    line-height: 30px;
}
.messages_form .hint{
    display: none;
    font-size: 1em;
    color: #dc1f00;
}
.messages_form .input_p{
    display: inline-block;
    margin-left: 5px;
}
.messages_form span{
    margin-left: 20px;
    font-size: 1.1em;
    display: inline-block;
    width: 120px;
    line-height: 45px;
    vertical-align: top;
}
.messages_form span.necessary{
    margin-left: 40px;
}
.messages_form span.necessary::before{
    content: "*";
    color: #dc1f00;
    float: left;
}
.messages_form input{
    height: 25px;
    width: 150px;
    font-size: 0.9em;
    vertical-align: middle;
    padding: 0 2px;
}
.messages_form input .field{
    width: 400px;
}
.messages_form .add_message,.messages_form .sub_message{
    background-color: #c7cda5;
    color: #ffffff;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 5px;
}
.next{
    margin-left: 45px;
    background-color: #2caeb6;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}
.messages_form .pre{
    font-size: 0.9em;
    text-decoration: underline;
    color: #999999;
    cursor: pointer;
    margin-left: 40px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
}
/* field */
.field_choose_box{
    background-color: #fdfdfd;
    border: 1px solid #c6c6c6;
    position: absolute;
    left: 180px;
    width: 400px;
    display: none;
}
.field_choose_box_head{
    width: 100%;
}
.field_choose_box_tabs{
    width: 91%;
    height: 20px;
    margin: 10px auto 0 auto;
    border-bottom: 1px solid #c6c6c6;
}
.field_choose_box_tabs li{
    float: left;
    text-align: center;
    background-color: #ebebeb;
    margin: 0 1px 5px 1px;
    padding: 2px 0;
    width: 12px;
    cursor: pointer;
    display: inline-block;
    font-family: "Century Gothic","Times New Roman", Times, serif;
    font-size: 0.7em;
    /* 不允许选中文本 */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.field_choose_box_tabs li.active{
    background-color: #7e7e7e;
    color: #fff;
    font-weight: bold;
}
.choose_content{
    width: 90%;
    margin: 10px auto;
}
.choose_content li{
    display: inline-block;
    margin: 2px 5px;
    font-size: 0.7em;
    text-decoration: underline;
    font-family: "Microsoft YaHei", "Times New Roman", Times, serif;
    cursor: pointer;
    color: #565656;
}
.field_choose_box_footer{
    width: 95%;
    margin: 5px auto;
}
.field_choose_box_footer button{
    margin-left: 85%;
    width: 50px;
    height: 20px;
    border: 0;
    font-size: 0.7em;
    cursor: pointer;
}
/* 清除所有浮动 */
.clear{
    clear: both;
}