*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Microsoft YaHei", "Times New Roman", Georgia, serif;
    font-weight: normal;
}
.helloWorld{
    z-index: -1;
}
.bg_mask{
    pointer-events: none;
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
}
.RGname{
    width: 100%;
    height: 100px;
    padding-top: 100px;
    padding-bottom: 10px;
    text-align: center;
}
.RGname h1{
    font-size:3.6em;
    color: #474747;
    letter-spacing: 3px;
}
/* ---------搜索框---------- */
.search_con{
    margin: 20xp 0 20px 0;
    left: 0;
    right: 0;
    top: 270px;
    position: absolute;
    text-align: center;
}
.search_con input{
    height: 35px;
    outline: none;
}
.search_con .con_input{
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #c3c3c3;
    box-shadow: 0 0 2px 0 #969696;
    padding-left: 5px;
    background-color: #fff;
}
.search_con input[type="text"]{
    width: 520px;
    border: 0;
}
.search_con input[type="submit"]{
    color: #605044;
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%);
    border: 0;
    border-radius: 0 5px 5px 0;
    width: 50px;
    box-shadow: 0 0 2px 0 #969696;
    cursor: pointer;
}
/*----------------搜索框聚焦失焦样式---------------  */
.search_con .foucs{
    border: 1px solid #2caeb6;
}
.search_con .blur{
    border: 1px solid #c3c3c3;
}
/* try */
.search_con p.search_try{
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.1em;
    color: #605044;
}
.search_con .search_try a{
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #54787c;
}
.search_con .search_try a:hover{
    text-decoration: underline;
    text-decoration-color: #54787c;
}
/* 选项块 */
.choose_box{
    position: relative;
    top: 150px;
    width: 100%;
    height: 100px;
    margin: 60px 0 20px 0;
    text-align: center;
}
.choose_box li{
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    width: 100px;
    height: 120px;
    position: relative;
}
.choose_box li img{
    display: block;
    height: 80px;
    width: 80px;
    margin: 5px auto;
}
.choose_box li span{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 40px;
    color: #000;
    font-size: 1em;
    text-align: center;
    width: 100px;
}
.choose_box li:hover img{
    width: 90px;
    height: 90px;
    margin-top: 0;
}