/* fonts */

div.jqcloud{
  font-size: 10px;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 350%; }
div.jqcloud span.w9 { font-size: 320%; }
div.jqcloud span.w8 { font-size: 290%; }
div.jqcloud span.w7 { font-size: 260%; }
div.jqcloud span.w6 { font-size: 230%; }
div.jqcloud span.w5 { font-size: 210%; }
div.jqcloud span.w4 { font-size: 190%; }
div.jqcloud span.w3 { font-size: 160%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 140%; }

/* colors */

div.jqcloud {
  color: #09f;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select:none;
}
div.jqcloud a { color: inherit; }
div.jqcloud span.w10 { color: #0cf; }
div.jqcloud span.w9 { color: #0cf; }
div.jqcloud span.w8 { color: #0cf; }
div.jqcloud span.w7 { color: #39d; }
div.jqcloud span.w6 { color: #90c5f0; }
div.jqcloud span.w5 { color: #90a0dd; }
div.jqcloud span.w4 { color: #90c5f0; }
div.jqcloud span.w3 { color: #a0ddff; }
div.jqcloud span.w2 { color: #99ccee; }
div.jqcloud span.w1 { color: #aab5f0; }
div.jqcloud span.span_list{
  z-index: 3;
}
div.jqcloud span.span_list:hover {
  color: #6d6d6d!important;
  font-weight: bold!important;
  z-index: 4;
}

/* layout */

div.jqcloud {
  /*overflow: hidden;*/
  position: relative;
}

div.jqcloud span { padding: 0; }
.append_div {
  background: black;color:#FFFFFF; opacity:0.5; text-align: center; position: absolute; height: 100px; width: 80px;
}