.keyword_messages{
    padding: 30px 60px;
}
#container{
    overflow: hidden;
    display: inline-block;
}
/*标题 关键字*/
/*head*/
.keyword_messages h1{
    font-weight: normal;
    color: #202020;
    font-size: 1.5em;
}
/*文章列表之外的信息*/
.basic_informations{
    margin-top: 30px;
}
.basic_informations section{
    margin: 25px 0;
    line-height: 30px;
    overflow: auto;
}
.basic_informations section p{
    font-size: 1.0em;
    display: inline-block;
    vertical-align: top;
}
.basic_informations h2, .basic_informations div.detail_message{
    display: inline-block;
}
.basic_informations h2{
    font-size: 1.0em;
    min-width: 80px;
    color: #303030;
    display: inline-block;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}
.basic_informations div.detail_message{
    width: 85%;
    padding-left: 30px;
    font-size: 0.9em;
}
.fields li, .masters li{
    display: inline-block;
    margin-right: 20px;
}
.masters li a{
    text-decoration: none;
    color: #474747;
}
.masters li a:hover{
    text-decoration: underline;
}
/*------文章列表-------*/
/*标题*/
.article_list{
    margin-top: 50px;
    width: 880px;
}
.introduction_head{
    border-bottom: 2px solid #278aa0;
}
.introduction_head .title{
    display: inline-block;
    font-size: 1.2em;
    background-color: #278aa0;
    border-radius: 10px 10px 0 0;
    padding: 5px 10px;
    color: #fff;
    border: 2px solid #ffffff;
    border-bottom: 0;
}
.introduction_head ul{
    display: inline-block;
    float: right;
    position: relative;
    top: 10px;
}
.introduction_head ul li{
    display: inline-block;
    float: left;
    font-size: 0.8em;
    color: #ababab;
    padding: 0 5px;
    border-right: 1px solid #bebebe;
    cursor: default;
}
.introduction_head ul li:hover{
    color: #1b1b1b;
}
.introduction_head ul li:last-child{
    border: 0;
}
.introduction_head ul li.active{
    color: #1E1E1E;
    font-weight: bold;
}
.articlelists{
    margin: 10px 30px;
}
.articlelists li{
    padding-top: 20px;
}
.moreinformation {
    margin: 10px 30px;
    text-align: center;
}


/*----new文章列表------*/
.new_list li{
    border-bottom: 1px solid #e2e2e2;
    padding: 20px 0;
}
.new_list li:last-child{
    border-bottom: none;
}
.new_list li span.ar_year{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 0;
    font-size: 1.05em;
    color: #483830;
    border: 1px dotted #adadad;
    padding: 2px 5px;
    border-radius: 3px;
}
.new_list li h3 a{
    font-size: 1.3em;
    color: #22868c;
    text-decoration: none;
}
.new_list li h3 a:hover{
    color: #2caeb5;
    text-decoration: underline;
}
.new_list li p.ar_author{
    background: url('../images/author.png') no-repeat left center;
    background-size: 24px;
    padding-left: 30px;
    color: #626262;
}
.new_list li p.ar_author a{
    color: #626262;
    font-size: 1em;
    line-height: 30px;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 5px;
}
.new_list li p.ar_author a:first-child{
    margin-left: 0;
}
.new_list li p.ar_jour{
    background: url('../images/jour.png') no-repeat left center;
    background-size: 23px;
    padding-left: 30px;
}
.new_list li p.ar_jour a{
    color: #2c2c2c;
    font-size: 1em;
    line-height: 30px;
    text-decoration: none;
}
.new_list li p.ar_jour a:hover{
    text-decoration: underline;
}
.new_list li p.ar_domain{
    font-size: 1em;
    line-height: 30px;
}
.new_list li p.ar_domain span{
    color: #2c2c2c;
    margin-left: 5px;
    margin-right: 5px;
}
.new_list li p.ar_level{
    display: inline-block;
    color: #000;
    font-size: 1em;
    line-height: 30px;
    padding-right: 40px;
    border-right: 1px solid #c2c2c2;
}
.new_list li p.ar_level span{
    color: #ee9967;
    margin-left: 10px;
}
.new_list li div.item_info{
    display: inline-block;
    margin-left: 30px;
}
.new_list li div.item_info span{
    background-color: #fddfdf;
    padding: 2px 5px 2px 30px;
    border-radius: 4px;
    color: #ee9967;
    font-size: 1em;
    line-height: 35px;
}
.new_list li .high_cite{
    background-position: 5px 4px;
    border-right: none;
}
.new_list li .cite{
    background-position: 5px 4px;
    margin-left: 10px;
}