.topbar_content{
    background-color: #343434;
}
.topbar{
    background-color: #343434;
}
.topbar_title h1 {
    font-size: 1.7em;
    font-family: "Times New Roman", Times, serif;
    display: inline-block;
    line-height: 70px;
    text-align: center;
    color: #f5f5f5;
    padding-left: 10px;
}

#menu ul {

    margin: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left:71%;
    z-index: 1;
    background: #444;
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);
    border-radius: 3px;
    transition: all .2s ease-in-out;
}
.topbar_t{
    padding: 70px 20px 40px 20px;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    box-shadow: -1px 0 0 rgba(255,255,255,.3);
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul a {

    padding: 10px 20px;
    width: 50px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

.edit_messages{
    padding: 30px 60px;
}
/*标题*/
.edit_messages h1{
    font-weight: normal;
    font-size: 1.7em;
}
/*编辑资料区*/
#update_form{
    margin: 30px 0;
}
/*文字资料*/
#update_form .text_messages{
    width: 50%;
    float: left;
}
.text_messages .item {
    font-size: 0.9em;
    margin: 15px 0;
    position: relative;
}
.text_messages label{
    display: inline-block;
    width: 80px;
    vertical-align: top;
}
.text_messages input{
    width: 270px;
    height: 30px;
    border: 1px solid #cecece;
    border-radius: 3px;
    padding-left: 5px;
}
.text_messages input.short{
    width: 235px;
}
.text_messages .add_message,.text_messages .sub_message{
    background-color: #bababa;
    display: inline-block;
    position: absolute;
    color: #ffffff;
    border: 0;
    border-radius: 15px;
    cursor: default;
    left: 335px;
    width: 30px;
    padding: 0;
}
.text_messages .add_message{
    left: 370px;
}
.text_messages #introduce{
    width: 270px;
    height: 200px;
    border: 1px solid #cecece;
    border-radius: 3px;
    padding: 5px;
    resize: none;
}
/*------------头像--------------*/
#update_form .portrait{
    width: 200px;
    height: 200px;
    float: left;
    border: 1px solid #c6c6c6;
    position: relative;
    overflow: hidden;
}
.portrait img{
    position: absolute;
    width: 200px;
    height: 200px;

}
.portrait input{
    width: 210px;
    height: 30px;
    position: absolute;
    bottom: 0;
    border: 0;
    background-color: #1E1E1E;
    opacity: 0.5;
    color: #f5f5f5;
}
/*修改头像*/
.new_portrait{
    width: 100vw;
    height: 100vh;
    background-color: rgba(157, 157, 157, 0.16);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}
.portrait_select_box{
    width: 700px;
    height: 500px;
    position: fixed;
    background-color: #ffffff;
    z-index: 2;
    top: 100px;
    border: 1px solid #cecece;
    border-radius: 5px;
    box-shadow: #bababa 0 0 1px;
    padding: 30px;
}
#img_file{
    display: none;
}
#div1{
    border: 1px solid rgb(102, 102, 102);
    width: 470px;
    height: 470px;
    overflow: hidden;
    position: relative;
    user-select:none;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none;  /*webkit浏览器*/
    -ms-user-select: none;   /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
}
#window{
    display: none;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    z-index:1;
    position: absolute;
    width: 50px;
    height: 50px;
}
#drag{
    width: 5px;
    height: 5px;
    background-color: #5b5b5b;
    position: absolute;
    bottom: 0;
    right: 0;
}
#portrait{
    position: relative;
    user-select:none;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none;  /*webkit浏览器*/
    -ms-user-select: none;   /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
}
#result_box{
    width: 100px;
    height:100px;
    overflow: hidden;
    position: absolute;
    left:600px;
    top:30px;
    border: 1px solid rgb(102, 102, 102);
}
#result{
    position: absolute;
}
.buttons{
    position: absolute;
    left:600px;
    bottom:80px;
}
.buttons input{
    width: 100px;
    height: 30px;
    display: block;
    margin: 10px 0;
    border: 0;
    background-color: #7e7e7e;
    color: #ffffff;
    border-radius: 5px;
}
/*保存按钮*/
#update_form #save{
    margin-top: 30px;
    width: 100px;
    height: 30px;
    border: 1px solid #008ad2;
    background-color: #008ad2;
    color: #ffffff;
    border-radius: 3px;
}

/*field choose box*/
.field_choose_box{
    background-color: #fdfdfd;
    border: 1px solid #c6c6c6;
    position: absolute;
    left: 180px;
    width: 400px;
    display: none;
}
.field_choose_box_head{
    width: 100%;
}
.field_choose_box_tabs{
    width: 91%;
    height: 20px;
    margin: 10px auto 0 auto;
    border-bottom: 1px solid #c6c6c6;
}
.field_choose_box_tabs li{
    float: left;
    text-align: center;
    background-color: #ebebeb;
    margin: 0 1px 5px 1px;
    padding: 2px 0;
    width: 12px;
    cursor: pointer;
    display: inline-block;
    font-family: "Century Gothic","Times New Roman", Times, serif;
    font-size: 0.7em;
    /*不允许选中文本*/
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
}
.field_choose_box_tabs li.active{
    background-color: #7e7e7e;
    color: #ffffff;
    font-weight: bold;
}
.choose_content{
    width: 90%;
    margin: 10px auto;
}
.choose_content li{
    display: inline-block;
    margin: 2px 5px;
    font-size: 0.7em;
    text-decoration: underline;
    font-family: "Microsoft YaHei", "Times New Roman", Times, serif;
    cursor: pointer;
    color: #565656;
}
.field_choose_box_footer{
    width: 95%;
    margin: 5px auto;
}
.field_choose_box_footer button{
    margin-left: 85%;
    width: 50px;
    height: 20px;
    border: 0;
    font-size: 0.7em;
    cursor: pointer;
}