.rank_head{
	padding: 30px 40px;
	padding-bottom: 0;
}
.r_head{
    width: 100%;
	padding-bottom: 10px;
    text-align: center;
}
.r_head h1{
    font-size: 1.9em;
    display: inline-block;
    color: #474747;
    letter-spacing: 5px;
}
.r_head div.dmanu{
    display: inline-block;
    margin-left: 10px;
    position: relative;
}
.r_head .dmanu span.dmanu_head{
    font-size: 1em;
    color: #2caeb5;
    padding: 0 2px;
    border: 1px solid #2caeb5;
    border-radius: 3px;
    cursor: pointer;
}
.r_head .dmanu:hover .outside{
    display: inline-block;
}
/*----domain manu----*/
.r_head .outside{
    display: none;
    position: absolute;
    left: 38px;
    top: -1px;
    border: 1px solid #2caeb5;
    border-radius: 3px;
    min-width: 100px;
    background-color: #f2f2f2;
    text-align: center;
    z-index: 2;
}
.r_head .outside li{
    line-height: 35px;
    color: #474747;
    border-bottom: 1px solid #2caeb5;
    cursor: pointer;
    position: relative;
}
.r_head .outside li span{
    display: inline-block;
    width: 100%;
}
.r_head .outside li:last-child{
    border-bottom: none;
}
.r_head .outside li:hover{
    background-color: #c0d9d9;
    color: #2caeb5;
}
.r_head .outside li.choosed{
    background-color: #c0d9d9;
    color: #2caeb5;
}
.r_head .outside li:hover ul.inside{
    display: block;
}
.r_head .outside ul.inside{
    display: none;
    position: absolute;
    top: -1px;
    left: 100px;
    border: 1px solid #2caeb5;
    border-radius: 3px;
    min-width: 100px;
    background-color: #f2f2f2;
    text-align: center;
    z-index: 2;
}

/*-----*/
.r_nav{
	width: 100%;
}
.r_nav ul{
	margin-top: 20px;
    width: 100%;
    text-align: center;
}
.r_nav li{
	width: 12%;
    padding: 8px 0;
    margin-left: 20px;
    cursor: default;
    display: inline-block;
    font-size: 1em;
    color: #474747;
    background-color: #efefef;
}
.r_nav li.rSelected{
	color: #fff;
    font-weight: bold;
    background-color: #c7cda5;
}
.r_nav li:hover{
    color: #fff;
    font-weight: bold;
    background-color: #c7cda5;
}

/*排行榜*/
.rank_box{
	text-align: center;
    border: 1px solid #c7cda5;
    border-top: 3px solid #c7cda5;
}
.rank_box table{
    border-top: 0;
    width: 100%;
    border-collapse:collapse;
}
/*表头*/
.rank_box table thead{
    border-bottom:2px solid #e0e0e0;
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%);
}
.rank_box table thead th{
    text-align: left;
    padding: 10px 5px;
    font-weight: normal;
    font-size: 1.1em;
    color: #6f6f6f;
    text-align: center;
}
.rank_box table a{
    text-decoration: none;
    font-size: 1em;
    color: #000000;
}
.rank_box table a:hover{
    text-decoration: underline;
}
.rank_box td,.rank_box th{
    /*border: 1px solid #c6c6c6;*/
    width: 50%;
}
.rank_box tr{
    border-bottom: 1px solid #e0e0e0;
}
.rank_box tr td:first-child,.rank_box th:first-child{
    border-right: 1px solid #e0e0e0;
}
.rank_box tr:nth-child(even){
    background-color: #f6f6f6;
}
.rank_box td{
    padding: 10px 10px;
    text-align: left;
    line-height: 25px;
}
.rank_box td h3{
    min-height: 25px;
}
.rank_box h3 a{
    font-size: 1.1em;
    color: #22868c;
    text-decoration: none;
}
.rank_box h3 a:hover{
    color: #2caeb5;
    text-decoration: underline;
}
/*文章*/
.item_info{
    margin: 5px 0;
    font-size: 0.8em;
    color: #2c2c2c;
}
.item_info span,.item_info a{
    font-size: 1em;
    margin: 0 5px;
    vertical-align: top;
}
.item_info span:first-child,.item_info a:first-child{
    margin-left: 0;
}
.item_info ul{
    margin-left: -7px;
    display: inline-block;
}
.item_info ul li{
    font-size: 0.8em;
}
a.author{
    background: url('../images/author.png') no-repeat left center;
    background-size: 18px;
    padding-left: 25px;
    margin-left: 10px;
    font-size: 0.9em;
}